name: CI/CD Docker Build & Push

on:
  push:
    branches: [main]

jobs:
  build-test-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          # Bu yerda dinamik secrets ishlatilgan, shuning uchun shargun1303 deb qo'lda yozish shart emas
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/hotel-api-aws:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/hotel-api-aws:${{ github.sha }}

      - name: Run container for testing
        run: |
          docker run -d --name test-container -p 8000:8000 \
            ${{ secrets.DOCKERHUB_USERNAME }}/hotel-api-aws:latest
          sleep 20

      - name: Health check
        run: |
          curl -f http://localhost:8000/docs || (docker logs test-container && exit 1)

      - name: Cleanup
        if: always()
        run: docker rm -f test-container || true